table{
  font-family: sans-serif;
}
th, td {
  border-right: solid 0.3mm black;
  border-bottom: solid 0.3mm black;
  padding: 2mm;
  text-align: center;
}
tr.title{
  background-color: #999999;
}
tr.week{
  background-color: #cccccc;
}