table.scaffold{
  margin: 0 auto;  
}
table.month{
  font-family: sans-serif;
}
table.month th,
table.month td {
  border-right: solid 0.3mm black;
  border-bottom: solid 0.3mm black;
  padding: 1mm 2mm;
  text-align: center;
}
table.month tr.title{
  background-color: #999999;
}
table.month tr.week{
  background-color: #cccccc;
}