table{
  font-family: sans-serif;
  border: solid 0.3mm black;
}
th {
  border: solid 0.3mm black;
  font-size: 3mm;
  height: 4mm;
  text-align: center;
  width: 4mm;
}
td {
  border: solid 0.3mm black;
  height: 4mm;
  vertical-align: top;
  width: 4mm;
}